$dark: #191f28;
$silver: #d6d6dd;
$cool-grey: #b6b6c0;
$charcoal-grey: #333d4b;
$battleship-grey: #6b7684;
$azul: #2272eb;
$butterscotch: #ffb74d;
$slate-grey: #585865;
$rosy-pink: #f66570;
$slate: #4e5968;
